{% extends 'base.html' %}
{% load static %}


{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добро пожаловать в наш интернет-магазин!</title>
</head>
    <body>
    <div class="container">
        <h1>Добро пожаловать в наш интернет-магазин!</h1>
        <p> Мы стремимся облегчить ваш выбор и покупки продуктов. Наш магазин предлагает широкий ассортимент качественных товаров, подобранных с заботой о вашем удобстве.
        </p>
        <p> Наша миссия - сделать ваши онлайн-покупки приятным, быстрыми и легкими для вас. Мы работаем над тем, чтобы предоставить вам не только высококачественные продукты, но и отличный сервис, который поможет вам сделать правильный выбор. </p>
        <ul>
            <li>Качество - мы стремимся к тому, чтобы каждый продукт, представленный в нашем магазине, соответствовал самым высоким стандартам качества.</li>
            <li>Разнообразие - мы предлагаем широкий ассортимент товаров, чтобы удовлетворить различные потребности и предпочтения наших клиентов.</li>
            <li>Удобство - мы делаем все возможное, чтобы ваши покупки были легким и приятным, начиная от удобного интерфейса нашего сайта и заканчивая оперативной доставкой.</li>
            <li>Прозрачность - мы стремимся к открытости и честности во всех наших отношениях с клиентами, предоставляя четкую и достоверную информацию о продукции, ценах и условиях обслуживания.</li>
        </ul> <p> Мы благодарим вас за выбор нашего магазина и гарантируем, что с нами процесс шопинга будет комфортным, быстрым и удобным. Если у вас возникнут вопросы или пожелания, не стесняйтесь обращаться к нам - мы всегда рады помочь! </p>
        <div class="signature"> С уважением, <br> Команда Corm
        </div>
    </div>
</body>
{% endblock %}
