<div class="col-lg-3">
    <div class="product-item">
        <div class="image-container"> <!-- Добавлен контейнер для изображения -->
            <a href="{% url 'product' product_image.product.id %}">
                <img src="{{ product_image.image.url }}" class="img-responsive product-image" >
            </a>
        </div>

        {% if product_image.product.discount %}
            <div class="discount-container">
                <span>{{ product_image.product.discount }}%</span>
            </div>
        {% endif %}

        <h4>{{ product_image.product.name }}</h4>
        <div class="product-description"> <!-- Добавлен контейнер для описания -->
            <p>
                {{ product_image.product.description|truncatechars_html:70 }}
            </p>
            <div>
                {{ product_image.product.price }} RUR
            </div>
            <div class="text-center">
                <p></p>
                 <li><a href='{% url "adminArticlesDelete" product_image.product.id %}' type="button" class="btn btn-success">Удалить</a></li>
            <p></p>
                <li><a href='{% url "adminArticlesUpdate" product_image.product.id %}' type="button" class="btn btn-success">Изменить</a></li>
            </div>

        </div>
    </div>
</div>
